<div class="pageContainer">
    <div class="uploadContainer" nv-file-drop="" uploader="vm.uploader" ng-show="vm.uploader.isHTML5">
        <div class="drag-n-drop" nv-file-drop="">
            <ul>
                <li ng-repeat="item in vm.uploader.queue">
                    <span ng-thumb="{ file: item._file, height: 400 }"></span>
                    <div class="hiddenButton removeButton">
                        <button ng-click="vm.removeFromQueue()">&#x2715;</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="uploadSidebar sidebar">
        <input type="text" ng-model="vm.photo.name" placeholder="Title" maxlength="20">
        <div class="saleContainer"><label for="forSale">For Sale</label><input id="forSale" type="checkbox" name="forSale" ng-model="vm.forSale">
        </div>
        <input type="number" min="0" step="any" ng-model="vm.photo.price" ng-disabled="!vm.forSale" placeholder="Free">
        <p>Meta Data</p>
        <div class="metaDataContainer">
            <div ng-repeat="number in vm.metaDataItems track by $index" class="metaData">
                <input type="text" placeholder="Name" ng-model="vm.photo.exif[$index].Name" maxlength="50">
                <input type="text" placeholder="Value" ng-model="vm.photo.exif[$index].Value" maxlength="300">
                <div class="hiddenButton">
                    <button ng-click="vm.removeMetaData($index)">&#x2715;</button>
                </div>
            </div>
        </div>
        <button class="button" ng-click="vm.addMetaData()">+</button>
        <button class="button upload" ng-click="vm.uploadPhoto()" data-upload="Upload">
            Upload
            <div class="buttonProgress"></div>
        </button>
    </div>

</div>