/*Cross Page*/
body, html, form, input, div, img, header, a, h1, h2, h3, h4, p, ul, li, button{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
header{

    display: flex;
    position: fixed;
    height: 50px;
    width:100vw;
    background-color: white;
    padding: 0 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    z-index: 9999;
}
.logo{
    margin: auto 0;
    padding: 0;
}
.nav{
    margin: auto 0 auto auto;
    display: flex;
}
.nav ul{
    display: flex;
}
.nav li{
    margin: auto;
    list-style: none;
    height:100%;
    display: flex;
}
.nav li a{
    margin:auto 0;
    padding: 10px;
}
.nav li:hover{
    background-color: ghostwhite;
    cursor: pointer;
}
.mainContent{
    display:flex;
    flex-direction:column;
    overflow: hidden;
}
.pageContainer{
    height:100vh;
    display: flex;
    /*Padding to return below header*/
    padding-top:50px;
    background-color: #222;
}

.sidebar{
    display: flex;
    width: 30%;
    max-width:300px;
    height:100%;
    margin: auto;
    margin-right:0;
    background-color: whitesmoke;
    padding:25px;
    flex-direction: column;
}



/*Fonts: Lato 300,400 Raleway 300,400*/
h1, h2, h3, h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
h3, h4 {
    font-weight: 700;
}
p, li, a, input, button, label, .toast, table{
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
input{
    font-size: 20px;
    padding: 20px 15px;
    border: none;
    border-radius: 3px;
}
input:focus{
    outline: none;
}
button, input[type='submit']{
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}
.button{
    font-size: 20px;
    font-weight: 300;
    padding: 20px 15px;
    color: #fff;
    background-color: #7986cb;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.button:hover{
    background-color: #222;
    color: #7986cb;
}
.button:disabled{
    cursor: not-allowed;
    background-color: #485079;
    color: #bbb;
}

/*CSS Loader credit http://codepen.io/msisto/pen/LntJe*/
@-webkit-keyframes rotate-forever {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes rotate-forever {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-forever {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.loader {
    -webkit-animation-duration: 0.75s;
    -moz-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotate-forever;
    -moz-animation-name: rotate-forever;
    animation-name: rotate-forever;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    height: 40px;
    width: 40px;
    border: 8px solid #222;
    border-right-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
}
.imageLoading{
    margin:0 auto;
    display: flex;
    flex-direction: column;
}
.imageLoading p{
    margin-top: 10px;
}

/*Home Page*/
.pageContainer.homePage{
    background: url("../images/hero.jpg") no-repeat center center;
    background-size: cover;
    flex-direction: column;
}
.homePage form{
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
    display: flex;
}
.inputContainer{
    width: 100%;
    display: flex;
    margin:auto auto 0 auto;
}
.searchInput{
    width:90%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.inputContainer .searchSubmit{
    width: 10%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #fff;
    cursor: pointer;
}
.searchSubmit:hover{
    background-color: whitesmoke;
}
.homePage input:focus{
}
.button.explore{
    width:100px;
    margin: auto;
    margin-top: 25vh;
}
.imageContainer{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    min-height: 100vh;
    width: 100%;
    padding: 20px 10%;
    background-color: whitesmoke;
}
.individualImage{
    height: auto;
    max-height: 200px;
    margin: 10px 5px;
}
.individualImage img{
    height: 200px;
}

/*Login Page*/
.formContainer{
    margin:auto;
    display: flex;
    width:50vw;
    height:50vh;
    /*background-color: whitesmoke;*/
}
.loginForm{
    display: flex;
    flex-direction: column;
    margin:auto;
}
.loginForm > input{
    margin: 10px 0;
    width:100%;
}
.loginForm  input[type='checkbox']{
    margin-left: 10px;
}
.loginForm label{
    width:100%;
    color: #fff;
}

/*Photo Page*/
.photoContainer{
    margin:auto;
    /*padding:35px 25px 35px 50px;*/
}
.photoContainer > img{
    padding: 35px 25px 25px 50px;
    max-width:100%;
    max-height: 80vh;
}
.photoSidebar{
    overflow-y: auto;
}
.userContainer{
    display: flex;
    margin-bottom: 15px;
    min-height:100px;
    flex-wrap: wrap;
}
.userContainer > a {
    /*padding-right: 30px;*/
    /*border-radius: 50%;*/
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    margin:auto;
}
.userContainer img{
    max-width: 150%;
    max-height:150%;
}
.userContainer h3{
    margin: auto;
}
.photodescription .price{
    text-align: center;
    padding: 10px;
}
.exifDataContainer .button{
    width:100%;
    padding:10px;
}
.exifData{
    display: block;
    height: 400px;
    overflow-y: scroll;
}
.exifData tbody td{
    border-top:1px solid grey;
}
.payment{
    margin-top:15px;
}
.payment input{
    margin-bottom: 10px;
}
/*Upload Page*/
.uploadContainer{
    width: 70%;
    height:100%;
    background-color: #222222;
    margin: auto;
}
.drag-n-drop{
    height:100%;
    width: 100%;
    margin: auto;
    display: flex;
}
.drag-n-drop ul{
    margin:auto;
}
.drag-n-drop li{
    list-style: none;
    position: relative;
}
.metaDataContainer{
    overflow-y: scroll;
    height: 450px;
}
.metaData{
    margin:10px 0;
    position: relative;

}
.hiddenButton{
    position: absolute;
    width: 9px;
    top:0;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
.hiddenButton button{
    background: #cb7986;
    color:#fff;
    padding: 2px 4px;
}
.removeButton{
    opacity:1;
    margin:0;
    left:-10px;
    top: -10px;
    
}
.metaData:hover > div{
    opacity: 1;
}
.hiddenButton:hover{
    opacity: 1;
}
.saleContainer{
    display: flex;
    padding:10px;
}
.uploadSidebar .saleContainer input{
    margin:auto 0 auto auto;
    width:50%;
}
.sidebar .button{
    margin-top: 10px;
}
.sidebar input{
    width: 100%;
}
.sidebar p{
    margin: 10px 0 0 0;
}
.button.upload{
    position:relative;
}
.buttonProgress{
    height:100%;
    width: 0%;
    background-color: #485079;
    position: absolute;
    top:0;
    left:0;
    border-radius: 3px;

}
.button.upload:after{
    content: attr(data-upload);
    color: #fff;
    height:100%;
    width: 100%;
    position: absolute;
    top:20px;
    left:0;
}
/*Chat Box*/
.chatBox{
    position: fixed;
    bottom:0;
    right:50px;
    height: 300px;
    width: 280px;
    display: flex;
    flex-direction: column;
}
.chatHeader {
    height: 35px;
    width: 100%;
    background-color: #222;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: white;
    font-size: 0.8em;
    display: flex;
    cursor: pointer;
}
.chatHeader p {
    margin: auto 20px auto auto;

}
.chat{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    padding: 0 10px;
}
.chat li{
    list-style: none;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.chat span {
    font-size: 0.8em;
}
.chat .removeMessage{
    width:20px;
    height:20px;
    background-color: #cb7986;
    position: absolute;
    top: -10px;
    right:0;
}
.chat p {
    word-break: break-all;
    margin: auto 5px auto auto;
    background-color: #4080ff;
    border-radius: 12px;
    padding: 8px;
    color: #fff;
    font-weight: 400;
    font-size: 0.9em;
}
.chatBox form{

}
.chatBox input{
    padding: 10px;
    border-radius: 0;
    width: 100%;
    border-top: 1px solid lightgrey;
}

/*Profile Page*/
.profile{
    flex-direction: column;
    background-color: whitesmoke;
}
.backgroundPhoto{
    width:100%;
    height: 80vh;
    overflow: hidden;
    background: no-repeat center center;
    background-size:cover;
}
.backgroundPhoto img{
    width:100%;
}
.profileHeader{
    padding:20px 20px 5px 20px;
    height: 20vh;
    border-top: 2px solid #222;
    position: relative;
    display: flex;
    flex-direction: column;
}
.profilePhoto{
    width: 200px;
    height:200px;
    overflow: hidden;
    border-radius: 80%;
    border: 2px solid #222;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -100px;
}
.profilePhoto img{
    height: 100%;
}
.profileDescription{
    margin: auto auto 0 auto;
}

/*User's Profile Page*/
.accountDetails{
    padding:30px;
    background-color: whitesmoke;
    text-align: center;
}
.accountDetails li{
    margin:5px;
    list-style: none;

}
.editAccount{
    margin:15px;
}

.dragndrop{
    z-index: 999;
    background-color: rgba(34, 34, 34, 0.6);
    width: 100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
}
.dragndrop button{
    position: relative;
    top: 60px;
}
.dragndrop h2{
    color: #fff;
    position: relative;
    top:50%;
}
/*Admin Page*/
.adminSidebar{
    padding: 0;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #222222;
}
.adminSidebar li{
    width:100%;
    list-style: none;
    padding:30px;
    cursor: pointer;
}
.adminSidebar li:hover{
    background-color: #485079;
}
.adminContent{
    width: 100%;
    background-color: whitesmoke;
    overflow-y: auto;
    padding: 20px 40px;
}
.adminContent thead{
    font-weight: 600;
}
/*Override the position of the toast container for notifications*/
#toast-container{
    top: 62px;
}
#toast-container .toast{
    opacity: 1;
    box-shadow: 0 0 12px #222;
}
