/*Cross Page*/
body, html, form, input, div, img{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: grey;
}
header{
    height: 50px;
    width:100vw;
    background-color: pink;
    display: flex;
}
.logo{
    margin: auto 0 auto 15px;
    padding: 0;

}
.nav{
    margin: auto 5px auto auto;
    display: flex;
    padding-right: 15px;
}
.nav > div{
    margin: auto;
    padding: 10px;
}
.mainContent{
    display:flex;
    flex-direction:column;
    width: 100vw;
    /*Gap for header*/
    margin-top:-50px;
}
.pageContainer{
    width:100vw;
    height:100vh;
    display: flex;
    /*Padding to return below header*/
    padding-top:50px;
}
/*Home Page*/
.pageContainer > input{
    width: 50vw;
    height: 20px;
    margin: auto;
}
.imageContainer{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    min-height: 100vh;
    width: 90vw;
    margin: 0 auto;
    background-color: whitesmoke;
}
.individualImage{
    height: auto;
    max-height: 200px;
    margin: 10px 5px;
}
.individualImage img{
    height: 200px;
}

/*Login Page*/
.formContainer{
    margin:auto;
    display: flex;
    width:50vw;
    height:50vh;
}
.loginForm{
    display: flex;
    flex-direction: column;
    margin:auto;
}
.loginForm > input{
    margin: 10px;
    width:100%;
    height:25px;
}

/*Photo Page*/
.photoContainer{
    margin:auto;
    /*padding:35px 25px 35px 50px;*/
}
.photoContainer > img{
    padding: 35px 25px 25px 50px;
    height:100%;
}
.photoSidebar{
    display: flex;
    width: 30%;
    max-width:300px;
    height:100%;
    margin: auto;
    margin-right:0;
}
.photoSidebar{
    background-color: whitesmoke;
    padding:25px;
    display: flex;
    flex-direction: column;
}
.userContainer{
    display: flex;
    margin: 10px 0;
}
.userContainer img {
    padding-right: 30px;
    border-radius: 50%;
}