<div class="pageContainer admin">
    <div class="sidebar adminSidebar">
        <ul>
            <li ng-click="vm.showUsers()">Users</li>
            <li ng-click="vm.showPhotos()">Photos</li>
            <li ng-click="vm.showAnalytics()">Analytics</li>
        </ul>
    </div>
    <div class="adminContent">
        <div ng-show="vm.showingUsers">
            <table>
                <thead>
                <tr>
                    <td>Username</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>Role</td>
                    <td>Requested Photographer</td>
                    <td>Email Confirmed</td>
                    <td>Lockout Enabled</td>
                    <td>Failed Access Attempts</td>
                    <td>Lockout End Date</td>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in vm.users">
                        <td>{{user.UserName}}</td>
                        <td>{{user.FirstName}}</td>
                        <td>{{user.LastName}}</td>
                        <td>
                            <select name="roles" ng-model="user.Role" ng-change="vm.roleChanged(user.UserName, user.Role)">
                                <option value="administrator">Admin</option>
                                <option value="photographer">Photographer</option>
                                <option value="shopper">Shopper</option>
                                <option value="banned">Banned</option>
                            </select>
                        </td>
                        <td>{{user.AwaitingAdminConfirmation}}</td>
                        <td>{{user.EmailConfirmed}}</td>
                        <td>{{user.LockoutEnabled}}</td>
                        <td>{{user.AccessFailedCount}}</td>
                        <td>{{user.LockoutEndDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-hide="vm.showingUsers">
            <table>
                <thead>
                    <tr>
                        <td>Title</td>
                        <td>Price</td>
                        <td>Uploaded By</td>
                        <td>Full Name</td>
                        <td>Total Sales</td>
                        <td>URL</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="photo in vm.photos">
                        <td>{{photo.Name}}</td>
                        <td>{{photo.Price}}</td>
                        <td>{{photo.UserName}}</td>
                        <td>{{photo.UserFirstName}} {{photo.UserLastName}}</td>
                        <td>{{photo.Sales}}</td>
                        <td><a ng-href="{{photo.Address}}">Link</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>