<div class="pageContainer">
    <div class="photoContainer">
        <img ng-src="{{vm.photo.address}}" alt="{{vm.photo.name}}">
    </div>
    <div class="photoSidebar sidebar">
        <div class="userContainer">
            <a ng-href="#/user/{{vm.user.username}}" ng-show="vm.user.profilePhoto">
                <img ng-src="{{vm.user.profilePhoto}}" alt="{{vm.user.username}}">
            </a>
            <h3><a ng-href="#/user/{{vm.user.username}}">{{vm.user.firstName}} {{vm.user.lastName}}</a></h3>
        </div>
        <div class="photoDescription">
            <div class="title">
                <h4>{{vm.photo.name}}</h4>
            </div>
            <div class="price">
                <h3 ng-hide="vm.photo.price === 0">£{{vm.photo.price}}</h3>
                <h3 ng-show="vm.photo.price === 0">Free</h3>
            </div>
            <form ng-show="vm.owner" ng-submit="vm.updatePhoto()">
                <input type="text" ng-model="vm.newName" placeholder="Photo name">
                <input type="number" ng-model="vm.newPrice" placeholder="Price" step="any" min="0">
                <input type="submit" class="button">
            </form>
            <div class="exifDataContainer">
                <button class="button" ng-click="vm.showExif = !vm.showExif">Show Exif Data</button>
                <table class="exifData" ng-show="vm.showExif">
                    <thead>
                    <tr>
                        <th>Exif Name</th>
                        <th>Exif Value</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="detail in vm.photo.exif">
                        <td>{{detail.Name}}</td>
                        <td>{{detail.Value}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div ng-show="vm.loggedIn && vm.photo.price > 0">
            <div ng-include="'App/purchase/purchase.html'"></div>
        </div>
    </div>
</div>